$very-dark-magenta: hsl(300, 43%, 22%);
$soft-pink: hsl(333, 80%, 67%);

$rating-bg: hsl(303, 10%, 53%);
$p-color: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);

$primary: $very-dark-magenta;
$secondary: $soft-pink;


@import './node_modules/bootstrap/scss/bootstrap.scss'